# Description: Environment variables for the application
# Usage: Copy this file to .env and set the values

# Application
NODE_ENV= development # Environment for the application (default: development)
TCP_PORT= 3000 # Port for the application to listen on (default: 3000)

# Database
# MongoDB connection string
MONGO_URI= mongodb://localhost:27017/juntadita-db